
<link rel="stylesheet" href="./cinepolis.component.css">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">


 <body>
<div id="fondo">
    <br>
    <br>
<br>
    <h2 class="titulo-cine">C I N E P O L I S</h2>
    <div id="fondo-cinepolis">
<br>
        
    <br>


    <div class="containerUNO">

        <div class="container1">

            <br>
            <H3 class="titulos-cajas">ENTRADAS</H3>
                    

            <label for="nombre" class="col-sm-2 col-form-label">INGRESE SU NOMBRE: </label>
            <div class="col-sm-10">
                <input  type="text" class="form-control" [(ngModel)]="nombre">
            </div>


            <br>
            <label>CANTIDAD DE COMPRADORES: </label>
            <div class="col-sm-10">
                <input name="cantidad-compradores" type="text" class="form-control" [(ngModel)]="compradores">
            </div>


            <br>
            <label>¿PAGO CON TARJETA?: </label>
                <input class="radio" type="radio" name="operacion" value="SI" [(ngModel)]="tarjeta" />
            <label class="si-no"> SI</label>
                <input class="radio" type="radio" name="operacion" value="NO" [(ngModel)]="tarjeta"/>
            <label class="si-no"> NO</label>

            <br>
            <br>
            <label for="cantidad-boletos">CANTIDAD DE BOLETOS: </label>
            <div class="col-sm-10">
                <input name="cantidad-boletos" type="text" class="form-control" [(ngModel)]="boletos">

                <br>
            </div>

        </div>
    </div>
</div>


            <br>
        <div class="container2">
            <div class="containerDOS">     
                <br>   
            <H3 class="titulos-cajas2">SALIDAS</H3>        
            <label class="total">TOTAL A PAGAR: ${{total}}</label>
                <h3 class="titulos-cajas2"> {{mensajeCompra}} </h3>
            </div>
        </div>

        
        <div class="container3">
            <div class="containerTRES">
                <br>
                <H3 class="titulos-cajas">ACCIONES</H3>
                <button (click)="compraCinepolis()" class="btn btn-primary">CALCULAR</button>
                    <br>
                    <br>
                <button (click)="cancelar()" class="btn btn-danger">CANCELAR</button>
            </div>
        </div>


    </div>
    
<br>

</body>
